<p>Hello, <%= @user.first_name %>!</p>

<p>Thank you for registering at HorseHub. Please confirm your email by clicking the link below:</p>

<p><a href="<%= @confirmation_url %>">Confirm Email</a></p>

<p>If you did not register, please ignore this email.</p>

<p>Thank you,<br>The HorseHub Team</p>
