<p>Olá, <%= @user.first_name %>!</p>
<p>Obrigado por se cadastrar no nosso serviço. Por favor, confirme seu e-mail clicando no link abaixo:</p>
<a href="<%= confirm_email_url(@user) %>">Confirmar E-mail</a>
