<p>Olá, <%= @user.first_name %>!</p>

<p>Obrigado por se registar no HorsesInPocket. Por favor, confirme o seu email clicando no link abaixo:</p>

<p><a href="<%= @confirmation_url %>">Confirmar Email</a></p>

<p>Se não foi você quem fez este registo, por favor ignore este email.</p>

<p>Obrigado,<br>Equipe HorsesInPocket</p>
