<p>Olá,</p>
<p>Você foi convidado a visualizar o cavalo chamado <strong><%= @horse.name %></strong>.</p>

<% if @horse.images.any? %>
  <p>Veja abaixo uma imagem do cavalo:</p>
  <img src="<%= @horse.images.first.url %>" alt="<%= @horse.name %>" style="width: 300px; height: auto;">
<% else %>
  <p>Este cavalo não possui imagens disponíveis no momento.</p>
<% end %>

<p>
  Clique <a href="<%= invite_url(@horse) %>">aqui</a> para visualizar mais detalhes.
</p>
