<!DOCTYPE html>
<html>
  <body>
    <h1>Redefinição de Senha</h1>
    <p>Olá <%= @user.first_name %>,</p>
    <p>Recebemos um pedido para redefinir a sua senha. Clique no link abaixo para redefini-la:</p>
    <p>
      <a href="<%= "#{ENV['FRONTEND_BASE_URL']}/reset/password/#{@token}" %>">Redefinir Senha</a>


    </p>
    <p>Se não fez este pedido, por favor ignore este email.</p>
  </body>
</html>
